{
  "semi": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "bracketSameLine": true, // 객체 괄호에 공백 삽입
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false, // 탭 대신 공백으로 들여쓰기
  "singleAttributePerLine": true
}
